#reviewListContainer {
  list-style-type: none;
  padding: 0;
}

#reviewsHeaderContainer {
  display: flex;
  align-items: center;
}

#reviewsHeaderContainer>p {
  font-size: 1.4rem;
  padding: 0;
  padding-right: .5rem;
}

#reviewOwner {
  margin: 0;
  padding-bottom: .3rem;
}

#reviewDate {
  margin: 0;
  color: rgb(180, 180, 180);
}

#review {
  margin-bottom: 3rem;
}

#createReviewButtonContainer>button {
  height: 2rem;
  color: white;
  background-color: red;
  border: 2px solid black;
  box-shadow: 3px 4px 5px gray;
}

#createReviewButtonContainer>button:hover {
  cursor: pointer;
}

#createReviewButton:hover {
  cursor: pointer;
}