#spotDetailsContainer {
  width: 1000px;
  margin: auto;
}

#headerDescContainer {
  height: fit-content;
}

#descriptionContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(196, 191, 191);
  height: fit-content;
}