#manageSpotsContainer {
  width: 80%;
  margin: auto;
}

#userSpotListContainer {
  margin-bottom: 5rem;
}

#manageSpotListGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-auto-flow: row;

  list-style-type: none;
  padding: 0;
  max-width: 100rem;
  margin: auto;
}

#manageSpotListFlex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  list-style-type: none;
  padding: 0;
  max-width: 100rem;
  margin: auto;
}

#manageSpotsHeader {
  max-width: 100rem;
  margin: auto;
  margin-top: 2rem;
}

#manageSpotCreateSpotContainer {
  max-width: 100rem;
  margin: 2rem auto;
}

#createNewSpotButton {
  height: 1.6rem;
  color: white;
  background-color: red;
  border: 2px solid black;
  box-shadow: 3px 4px 5px gray;
}

#createNewSpotButton:hover {
  cursor: pointer;
}

.manageSpotsSpot {
  width: 24rem;
  padding-top: 1rem;
}

#manageSpotPrice {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

#manageLocationRatingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}


#manageLocationRatingContainer>h2 {
  margin: 0;
}

#manageLocationRatingContainer>h2:hover {
  cursor: pointer;
}

#spotButtons>button {
  height: 1.5rem;
  color: white;
  background-color: red;
  border: 2px solid black;
  box-shadow: 3px 4px 5px gray;
  width: 4rem;
  margin-right: .5rem;
  margin-top: .5rem;
}

#spotButtons>button:hover {
  cursor: pointer;
}

#ratingContainer {
  display: flex;
  width: fit-content;
  align-items: center;
}

#ratingNum {
  margin-left: .1rem;
  font-size: 18px;
  height: 20px;
}