#manageSpotsContainer {
  width: 80%;
  margin: auto;
}

#createNewSpotButton {
  height: 1.6rem;
  color: white;
  background-color: red;
  border: 2px solid black;
  box-shadow: 3px 4px 5px gray;
}

#createNewSpotButton:hover {
  cursor: pointer;
}