#createReviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  min-height: 15rem;
  height: fit-content;
  width: 20rem;
  border-radius: 15px;
}

#createReviewForm>h2 {
  margin: 1rem 0;
}

#reviewText {
  height: 5rem;
  width: 17rem;
  resize: none;
  border: 1px solid black;
}

#starsContainer .filled {
  color: red;
}

#starsContainer .empty {
  color: rgb(185, 118, 118);
}

#starsContainer {
  display: flex;
  width: fit-content;
  margin: 1rem 0;
  height: fit-content;
}

#starsContainer>div:hover {
  cursor: pointer;
}

#starsLabel {
  margin: 0;
  font-size: 15px;
  margin-left: 6px;
  margin-top: 1px;
}

#reviewSubmitContainer {
  margin: 1.5rem;
}

.reviewSubmit {
  width: 80%;
  height: 2rem;
  color: white;
  background-color: red;
  border: 2px solid black;
  box-shadow: 3px 4px 5px gray;
  margin-bottom: 1rem;
}

.reviewSubmit.disabled {
  background-color: gray;
}

.reviewError {
  color: red;
  margin: 0;
}

#reviewErrorContainer {
  margin-bottom: .5rem;
}

#spotButtons {
  margin-left: .7rem;
}

.reviewSubmit:hover {
  cursor: pointer;
}

#spotInfoContainer:hover {
  cursor: pointer;
}

.spotImage:hover {
  cursor: pointer;
}