#formContainer {
  width: 450px;
  margin: auto;
}

#createSpotForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
}

#formHeaderContainer>h2 {
  margin-bottom: 0;
}

#formHeaderContainer>p {
  margin: .4rem 0;
}

#locationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#cityStateContainer {
  display: flex;
  justify-content: space-between;
}

.createSpotLabel {
  display: flex;
  flex-direction: column;
  margin: 3px 0;
}

.createSpotLabel>input,
.createSpotLabel>select {
  margin: 3px 0;
}

.createSpotLabel.city {
  width: 67%;
}

.createSpotLabel.state {
  width: 28%;
}

#cityStateComma {
  font-size: 1.5rem;
  margin-top: 1.3rem;
}

.bottomBorder {
  border-bottom: 2px solid rgb(196, 191, 191);
}

.createSpotFormH2 {
  margin-bottom: 0;
}

.createSpotFormP {
  margin-top: .3rem;
}

#descriptionInput {
  width: 100%;
  height: 8rem;
  border: 1px solid black;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

#createSpotTitleInput,
#createSpotPriceInput,
.createFormSpotImage {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

#submitButtonContainer {
  display: flex;
  justify-content: center;
}

#createSpotSubmit {
  margin-top: 1rem;
  width: 100px;
  height: 1.6rem;
  color: white;
  background-color: red;
  border: 2px solid black;
  box-shadow: 3px 4px 5px gray;
}

#createSpotSubmit:hover {
  cursor: pointer;
}