#formContainer {
  background-color: rgb(232, 230, 230);
  padding: 3rem 0;
}

#createSpotForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  border: 1px solid gray;
  width: 550px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  background-color: white;
}

#spotFormInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  margin-bottom: 3rem;
  width: 450px;
  margin: auto;
  /* border: 5px solid red; */
}

#formHeaderContainer>h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#locationContainer>h2 {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#locationContainer>p {
  margin: .4rem 0;
}

#locationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#country-streetAdd-container {
  display: flex;
  justify-content: space-between;
}

.streetAdd {
  width: 48%;
}

.streetAddLabel {
  margin: 0;
}

.country {
  width: 48%;
  height: 100%;
}

#cityStateContainer {
  display: flex;
  justify-content: space-between;
}

.createSpotLabel {
  display: flex;
  flex-direction: column;
  margin: 3px 0;
}

.createSpotLabel>div {
  display: flex;
  align-items: center;
  margin: 0;
}

.locationErrors {
  margin: 0;
  color: red;
  /* padding-left: .5rem; */
}

.infoErrors {
  margin: 1px 0;
  color: red;
}

.createSpotLabel>input,
.createSpotLabel>select {
  margin: 3px 0;
  border: 1px solid gray;
  height: 2rem;
  padding-left: .5rem;
  border-radius: 5px;
}

.createSpotLabel>select {
  height: 2.3rem;
}

.createSpotLabel.city {
  width: 63%;
}

.createSpotLabel.state {
  width: 32%;
}

#cityStateComma {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.bottomBorder {
  border-bottom: 2px solid rgb(196, 191, 191);
}

.createSpotFormH2 {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.createSpotFormP {
  margin-top: .3rem;
}

#descriptionInput {
  width: 100%;
  height: 8rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: .5rem;
  resize: none;
  box-sizing: border-box;
}

#createSpotDescription {
  height: 16.3rem;
}

#createSpotTitleContainer {
  height: 8.3rem;
}

#createSpotTitleInput {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: .3rem;
  border: 1px solid gray;
  border-radius: 5px;
  height: 2rem;
  padding-left: .5rem;
}

#dollarSignInput {
  display: flex;
  justify-content: space-between;
}

#dollarSignInput>i {
  padding-top: 3px;
  display: flex;
  align-items: center;
}

#createSpotPricing {
  height: 9.5rem;
}

#createSpotPriceInput {
  width: 96%;
  box-sizing: border-box;
  /* margin-bottom: .3rem; */
  border: 1px solid gray;
  border-radius: 5px;
  height: 2rem;
  padding-left: .5rem;
}

.createFormSpotImage {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  height: 2rem;
  padding-left: .5rem;
}

.createSpotImageContainer {
  height: 2.7rem;
}

#submitButtonContainer {
  display: flex;
  justify-content: center;
}

#createSpotSubmit {
  border-radius: 50px;
  margin-top: 1rem;
  width: 12rem;
  height: 2rem;
  color: white;
  background-color: red;
  border: 1px solid black;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 2rem;
}

#createSpotSubmit:hover {
  cursor: pointer;
}