.hidden {
  display: none;
}

#BBnB {
  color: red;
  font-size: 2.5rem;
  padding-left: 20px;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(196, 191, 191);
  padding: 10px;
}

.loginSignupModalBtn {
  margin-right: 3rem;
}

.loginSignupModalBtn>a>i {
  margin-top: 10px;
  color: red;
  font-size: 20px;
}

#profileButton {
  border-radius: 30px;
  border: 1px solid gray;
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 20px;
  background-color: white;
}

#profileButton:hover {
  cursor: pointer;
}

#profileButton>i {
  padding: 5px;
}

.homeBtn {
  margin-top: 5px;
}

.profile-dropdown {
  position: absolute;
  list-style-type: none;
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  margin-top: 5px;
  padding: 10px;
  color: red;
  text-align: center;
  width: fit-content;
  right: 2rem;
}

.profile-dropdown.userLoggedOut {
  right: 3.7rem;
}

.userLoggedOut>li:hover {
  cursor: pointer;
}

.loggedInProfileDropdownLI {
  padding-bottom: .5rem;
  color: black;
}

.userEmail {
  border-bottom: 1px solid rgb(196, 191, 191);
}

.spotLink {
  border-bottom: 1px solid rgb(196, 191, 191);
  padding: .2rem 0;
}

#editSpotLink {
  color: red;
  text-decoration: none;
  margin: 1rem 0;
}

.editSpotLink:hover {
  cursor: pointer;
}

#logoutBtn {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
  width: 5rem;
  margin: .3rem 0;
}

#logoutBtn:hover {
  cursor: pointer;
}

#navBtnContainer {
  display: flex;
  align-items: center;
}

#createSpotLink {
  padding: 1rem;
  text-decoration: none;
  color: red;
  font-size: 1.2rem;
}