#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  width: 25rem;
  align-items: center;
}

#loginFormContainer {
  background-color: white;
  border-radius: 20px;
}

#loginHeader {
  text-align: center;
  color: red;
  margin: 0;
  padding: 1rem 0;
}

.loginLabel {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 80%;
}

.loginSubmit {
  width: 80%;
  height: 2rem;
  color: white;
  background-color: red;
  border: 2px solid black;
  box-shadow: 3px 4px 5px gray;
  margin: 1.5rem;
}

.loginSubmit:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 1.2rem;
}

.loginInput {
  width: 310px;
  padding: 3px;
  border: 1px solid black;
}

.disabled {
  background-color: gray;
}

.demoUserLogin {
  color: red;
  text-decoration: underline;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 1rem;
}

.demoUserLogin:hover {
  cursor: pointer;
}