#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  width: 25rem;
  align-items: center;
}

#loginFormContainer {
  background-color: white;
  border-radius: 20px;
}

#loginHeader {
  text-align: center;
  color: red;
  margin: 0;
  padding: 1rem 0;
}

.loginSubmit {
  width: 60%;
  height: 2rem;
  color: white;
  background-color: red;
  border-radius: 50px;
  border: 2px solid black;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.loginSubmit:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 1.2rem;
}

.loginLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
  width: 85%;
}

.loginInput {
  /* width: 310px;
  padding: 3px;
  border: 1px solid black; */
  border: 1px solid gray;
  border-radius: 5px;
  height: 1.5rem;
  width: 80%;
  padding: .5rem;
}

.disabled {
  background-color: gray;
}

.demoUserLogin {
  color: red;
  text-decoration: underline;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 1rem;
}

.demoUserLogin:hover {
  cursor: pointer;
}